{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    <section class="home-game">

        <a href="#">
            <article class="home-card-game cadreblue hover-cadre-neon">
                <div class="card-game-top">
                    <img src="{{ asset('build/images/tetris.png') }}">
                </div>
                <div class="card-game-body">
                    <h3>Tetris</h3>
                    <div class="card-game-text">
                        <h4>Catégorie : Puzzle</h4>
                        <h4>Description :</h4>
                        <p>Range des formes afin de créer un maximum de lignes pour gagner des points.</p>
                    </div>
                </div>
            </article>
        </a>

        <a href="">
            <article class="home-card-game cadreblue hover-cadre-neon">
                <div class="card-game-top">
                    <img src="{{ asset('build/images/tetris.png') }}">
                </div>
                <div class="card-game-body">
                    <h3>Tetris</h3>
                    <div class="card-game-text">
                        <h4>Catégorie : Puzzle</h4>
                        <h4>Description :</h4>
                        <p>Range des formes afin de créer un maximum de lignes pour gagner des points.</p>
                    </div>
                </div>
            </article>
        </a>
    </section>

    <section class="home-podium">
        <h2 class="">Ce sont les meilleurs !</h2>
            <div class="podium">
                <div class="podium-name">
                    {% for key, bestPlayer in bestPlayers|slice(0, 3) %}
                        {% if key == 0 %}
                            <h3 class="first-place">{{ bestPlayer.username }}</h3>
                        {% elseif key == 1 %}
                            <h4 class="second-place">{{ bestPlayer.username }}</h4>
                        {% elseif key == 2 %}
                            <h4 class="third-place">{{ bestPlayer.username }}</h4>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="podium-image">
                    <img src="{{ asset('build/images/podium.png') }}">
                </div>
            </div>
            <div class="home-score-best-players">
                <table class="home-score-player">
                    <thead>
                        <tr>
                            <th><h3>Rang</h3</th>
                            <th><h3>Pseudo</h3></th>
                            <th><h3>Score</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bestPlayer in bestPlayers|slice(0, 10) %}
                            <tr>
                                <td>
                                    <p>
                                        {% if loop.index == 1 %}
                                            {{ loop.index }}ST
                                        {% elseif loop.index == 2 %}
                                            {{ loop.index }}ND
                                        {% elseif loop.index == 3 %}
                                            {{ loop.index }}RD
                                        {% else %}
                                            {{ loop.index }}TH
                                        {% endif %}
                                    </p>
                                </td>
                                <td><p class="{% if bestPlayer.username == app.user %} user-connected-score {% endif %}">{{ bestPlayer.username }}</p></td>
                                <td><p>{{ bestPlayer.totalScorePlayer }}</p></td>
                            </tr>                            
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </section>
{% endblock %}

