{% extends 'base.html.twig' %}

{% block title %}Username{% endblock %}

{% block body %}
<h1> Mon profil</h1>
 <div class="username">
           {{ form_start(form) }}
           {{ form_errors(form) }}
    <div class="monprofilfirstname">    
           {{ form_row(form.firstname, {'label':false,'attr': {'placeholder': 'PRENOM'}})}}
    </div>
    <div class="monprofillastname">  
           {{ form_row(form.lastname, {'label':false,'attr': {'placeholder': 'NOM'}}) }}
     </div>
     <div class="monprofilbirthdate">  
           {{ form_row(form.birthdate, {'label':false,'attr': {'placeholder': 'BIRTHDATE'}})}}
      </div>
      <div class="monprofilusername">
           {{ form_row(form.username, {'label':false,'attr': {'placeholder': 'PSEUDO'}})}}
      </div> 
      <div class="monprofilemail">
           {{ form_row(form.email, {'label':false,'attr': {'placeholder': 'EMAIL'}}) }}
      </div>
      <div class="monprofiltype">
                 <button type="submit" class="btn">Valider</button>
       </div>
           {{ form_end(form) }}
      </div>
      <form method="POST" action="{{ path('user_delete', {id:app.user.id})}}"> 
      <div class="buttondelete">
                <input type="hidden" name="_token" value="{{csrf_token(app.user.id)}}"><button type="submit"  > supprimer le compte</button>
              </div>
       </form> 
         
        {% endblock %}