{% extends 'base.html.twig' %}

{% block title %}Username{% endblock %}

{% block body %}
<h1> Username</h1>
 <div class="username">

        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.username, {'label':false,'attr': {'placeholder': 'USERNAME'}})}}
        {{ form_row(form.email, {'label':false,'attr': {'placeholder': 'EMAIL'}}) }}
        {{ form_row(form.plainPassword, {
            'label': false,'attr': {'placeholder':'PASSWORD'}
        }) }}
        {{ form_row(form.agreeTerms) }}

        <button type="submit" class="btn">Valider</button>
        {{ form_end(form) }}
        </div>
        {% endblock %}